.showcase {
  height: 25rem;
  width: 100%;
  background: #000
    url('https://images.unsplash.com/photo-1464047736614-af63643285bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80 no-repeat center center');
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Overlay to make the image dark */
.showcase::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* To make everything inside showcase to pop out */
.showcase * {
  z-index: 20;
}

.showcase h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
